@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@model Exptracker2.Models.TotalExplim
<html>
<head>
</head>
<body>

    <h2 align="center">Total Expense Limit Form</h2>
    <form class="form-control-plaintext" align="justify" asp-action="Totallimitform" asp-controller="TotalExp">
        <div class="row-cols-5">
            <div class="col-md-4">
                <label asp-for="Expense_Limit_Amt"></label>
                <input asp-for="Expense_Limit_Amt" class="form-control" placeholder="Enter Expenselimit amount">
                @Html.ValidationMessageFor(model => model.Expense_Limit_Amt, "", new { @class = "text-danger" })<br /><br />
            </div>
        </div>

        <div class="row-cols-2">
            <div class="col-md-4">
                <input type="submit" value="Add Expense Limit" class="btn btn-outline-primary" />
            </div>
        </div>
    </form>
    <h2> </h2>
    @if (TempData["AlertMsg"] != null)
    {

                    <script type="text/javascript">
                        alert("@TempData["AlertMsg"]");
                    </script>


    }

</body>
</html>